@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
}

::selection {
    color: #858585;
    background: aquamarine;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    background-color: #1a192e;
    color: #ffffff;
    justify-content: space-between;
    height: 100px;
    padding-right: 5%;
}

.pagename {
    display: flex;
    padding: 2%;
    font-size: 30px;  
}
.pagename > a{
    text-decoration: none;
    color: currentColor;
}
.host{
    background-color: #1a192e;
    padding: 14px;
    border-radius: 50px;
    width: 40%;
    min-width: 300px;
    margin-left: 45px;
    margin-top: 15px;
    color: #ffffff;
    font-size: 20px;
}
.host:hover{
    transition: .4s;
    background-color: #a1a1a141;
    border: 0.5;
    color: #1a192e;
    cursor: pointer;
}
.map{
    height: 500px !important;

}

.event_name{
    display: inline-block;
    align-items: right;
    background-color: #1a192e;
    justify-content: right;
}