
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
}

::selection {
    color: #858585;
    background: aquamarine;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    background-color: #1a192e;
    color: #ffffff;
    justify-content: space-between;
    height: 100px;
    padding-right: 5%;
    margin-bottom: 4%;
}

.pagename {
    display: flex;
    padding: 2%;
    font-size: 30px;
}