<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VEVENT</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='create.css') }}"
    />
  </head>
  <body>
    <p class="pagename"><a href="/events">VEVENT</a></p>
    <form method="post" action="/create">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="location" placeholder="Location" />
      <input type="datetime-local" name="datetime" placeholder="DateTime" />
      <input type="text" name="organization" placeholder="Organization" />
      <input type="text" name="cost" placeholder="Cost" />
      <input type="text" name="description" placeholder="Description" />
      <input type="text" name="objective" placeholder="Objective" />
      <input type="submit" value="submit" />
    </form>
    {{ get_flashed_messages()[0] }}
  </body>
</html>
