<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='event.css') }}"
    />
  </head>
  <body>
    <p class="pagename"><a href="/events">VEVENT</a></p>
    <div style="display: flex">
      <div>
        <div>Name: {{data.name}}</div>
        <div>Objective: {{data.objective}}</div>
        <div>Email: {{data.email}}</div>
        <div>DateTime: {{data.datetime}}</div>
        <div>Description: {{data.description}}</div>
        <div>Cost: {{data.cost}}</div>
        <div>Organization: {{data.organization}}</div>
        <div>Location: {{data.location}}</div>
      </div>

      <div style="display: flex; flex-direction: column">
        {% for message in messages %}
        <div><strong>{{message.author}}:</strong> {{message.body}}</div>
        {% endfor %}
        <form method="post" action="/events/{{data._id}}">
          <input type="text" name="text" placeholder="Text" />
          <input type="submit" value="send" />
        </form>
        <p>{{ get_flashed_messages()[0] }}</p>
      </div>
    </div>
  </body>
</html>
