<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VEVENT</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='volunteer.png') }}"
/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='events.css') }}" />
  {{ map.js }}

</head>

<body>
  <div class="header">
    <p class="pagename"><a href="/events">VEVENT</a></p>
    <div class="username">
       {{session['user'].split("@")[0]}}
    </div>
  </div>

 <div class="content"> 
    {{ map.html }}
   <div class="event_column">
          {% for event in events %}
          <a class="event_name" href="events/{{ event.id }}">{{ event.name }}
            <p class="event_description">⋅ {{ event.objective }}<br>⋅ {{ event.description }}</p></a>
            <hr>
          {% endfor %}
    </div>
</div>
<a class="host_link"href="/create"><button class="host">Host an event!</button></a>

</body>
</html>