<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='event.css') }}"
    />
  </head>
  <body>
    <p class="pagename"><a href="/events">VEVENT</a></p>
    {{data.name}} {{data.objective}} {{data.email}} {{data.datetime}}
    {{data.description}} {{data.cost}} {{data.organization}} {{data.location}}
    {% for message in messages %} {{message.author}}: {{message.body}} {% endfor
    %}
    <form method="post" action="/events/{{data._id}}">
      <input type="text" name="text" placeholder="Text" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
