<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='faq.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <p class="pagename"><a href="/events">VEVENT</a></p>
      <div class="username">
        <a href="/" style="color: white; text-decoration: none"
          >{{session['user'].split("@")[0]}}</a
        >
      </div>
    </div>
    <a
      href="https://www.flaticon.com/free-icons/volunteer"
      title="volunteer icons"
      >Volunteer icon created by Freepik - Flaticon</a
    >
    <a
      href="https://www.flaticon.com/free-icons/paper-plane"
      title="paper plane icons"
      >Paper plane icons created by Freepik - Flaticon</a
    >
    <a
      href="https://www.flaticon.com/free-icons/organization"
      title="organization icons"
      >Organization icon created by Freepik - Flaticon</a
    >
  </body>
</html>
