<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vevent</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='login.css') }}"

    />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='volunteer.png') }}"
    />
  </head>
  <body>
    <header class="pagename">
      <p class="veventtitle">VEVENT</p>
    </header>
    <div class="info">
      <div class="left">
        <p class="left_info_smaller">Let's volunteer.</p>
        <p class="left_info">Let's work together to better our community.</p>
        <img
          class="left_image"
          src="{{ url_for('static',filename='upload.png') }}"
          alt=""
        />
      </div>

      <div class="login">
        <form class="inside_login" method="post" action="/events">
          <p class="login_text">Welcome!</p>
          <p class="subheading">Let's make a difference.</p>

          
          <form class="inside_login" method="post" action="/events">
            <input
              class="items_inside"
              type="email"
              name="email"
              placeholder="Email Address"
            />
            <input
              class="items_inside"
              type="password"
              name="password"
              placeholder="Password"
            />
            <div class="popup">
            {{ get_flashed_messages()[0] }}
           </div>
            <input class="last_item" type="submit" value="Login" />
            
          </form>
        </form>
      </div>
    </div>

  </body>
</html>
